* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.25;

  background-color: white;
  color: #000000;

  margin: 10px auto;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

img {
  width: 100%;
}

.slideshow {
  cursor: pointer;
  position: relative;
}

section.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0;
}

section.slideshow img:first-child {
  z-index: 1;
  opacity: 1;
}

nav a {
  margin-left: 10px;
}

nav a:first-child {
  margin-left: 0;
}

.logo {
  width: 80px;
}

nav i {
  color: black;
}